body {
    font-family: Arial, sans-serif;
}

.tables-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.table-left, .table-right {
    width: 45%;
}
.table-mid {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.pagination a {
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}

h2 {
    text-align: center;
    margin: 0;
}

.button_back {
    text-decoration: none;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}

.button_back:hover {
    background-color: #0056b3;
}

.button_delete {
    text-decoration: none;
    padding: 9px 20px;
    background-color: #ff0a19;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}


.button1 {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.button1:hover {
    background-color: #45a049;
}

.button_search {
    display: inline-block;
    padding: 4px 20px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}



